.analytics-svg {
    bottom: 0;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
}

#btnDemoAnMain {
    padding: 0;
    color: #2DBC90;
    border-color: #2DBC90;
    background-color: #ffffff;
    width: 271px;
    height: 68px;
    line-height: 68px;
    font-size: 27px;
}

.optimize-section {
    padding: 10px 50px 35px;
}

.optimize-section .max-w800 {
    max-width: 800px;
    width: 100%;
}

.optimize-section .optimize-section__txt {
    line-height: 1.3;
    margin-bottom: 23px;
}

.optimize-section__img {
    display: block;
    margin: 0 auto;
    height: 360px;
    max-width: 100%;
    /* width: 100%; */
    max-height: 330px;
}

@media (max-width: 730px) {
    .optimize-section__img {
        height: auto;
        width: 100%;
    }
}

.optimize-section .btn__demo {
    position: relative;
    z-index: 2;
}

.optimize-section canvas {
    position: absolute;
    top: 0;
    left: 0;
}